<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Base</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <img src="/img/work-in-progress.png" class="logo" alt="">
    <h1>Projeto Base</h1>
  </header>

  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, illo. Vitae a deleniti tempora labore accusantium ipsum numquam iure ut consectetur saepe veniam, amet, aut eum. Magni aliquid ipsam itaque.</p>
  </main>

</body>
</html>